<div class="w3-container w3-padding-16">
  <p>Select Company
  <select id="companies">
    <option *ngFor="let company of companies" value="company.CompanyKey" (change)="setCompanyKey(company)">
      {{company.Name}}
    </option>
  </select></p>
  <input type="button" class="w3-button w3-blue" (click)="getContacts()" value="Get Contacts">
</div>

<div class="w3-container" id="contactList">
  <h2>Contacts</h2>
  <p>List of contacts:</p>
  <ul class="w3-ul w3-card-4">
    <li *ngFor="let contact of contacts">
      <span (click)="updateSelectedContact(contact)">{{contact.Info.Name}}</span>
      <span (click)="deleteContact(contact)" class="w3-button glyphicon glyphicon-erase" style="float:right; padding-top: 0px;"></span>
    </li>
  </ul>
  <button (click)="ToggleModal()" class="w3-button w3-blue w3-margin-top">Add contact</button>
</div>
<!-- Trigger/Open the Modal -->

<!-- The Modal -->
<div id="newContactModal" class="w3-modal" *ngIf="contactModalShow" style="display:block">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

    <div class="w3-center"><br>
      <span (click)="ToggleModal()" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
    </div>

    <form class="w3-container">
      <h1>{{newContact.Info.Name}}</h1>
      <div class="w3-section">
        <label><b>Name</b></label>
        <input class="w3-input w3-border w3-margin-bottom" type="text" name="Name" required [(ngModel)]="newContact.Info.Name">
        <button class="w3-button w3-block w3-left-align w3-blue w3-border" (click)="showPhone = !showPhone;"><b>Phone</b></button>
        <div class="w3-section" *ngIf="showPhone">
          <label><b>Number</b></label>
          <input class="w3-input w3-border" type="text" name="PhoneNumber" required [(ngModel)]="newContact.Info.DefaultPhone.Number">
          <label><b>Description</b></label>
          <input class="w3-input w3-border" type="text" name="Description" required [(ngModel)]="newContact.Info.DefaultPhone.Description">
          <label><b>Type</b></label>
          <input class="w3-input w3-border" type="text" name="Type" required [(ngModel)]="newContact.Info.DefaultPhone.Type">
          <label><b>Country code</b></label>
          <input class="w3-input w3-border" type="text" name="Country Code" required [(ngModel)]="newContact.Info.DefaultPhone.CountryCode">
        </div>
        <button class="w3-button w3-block w3-left-align w3-blue w3-border" (click)="showEmail = !showEmail;"><b>Email</b></button>
        <div class="w3-section" *ngIf="showEmail">
          <label><b>Email address</b></label>
          <input class="w3-input w3-border" type="text" name="Email Address" required [(ngModel)]="newContact.Info.DefaultEmail.EmailAddress">
          <label><b>Type</b></label>
          <input class="w3-input w3-border" type="text" name="Type" required [(ngModel)]="newContact.Info.DefaultEmail.Type">
          <label><b>Description</b></label>
          <input class="w3-input w3-border" type="text" name="Description" required [(ngModel)]="newContact.Info.DefaultEmail.Description">
        </div>
        <button class="w3-button w3-block w3-left-align w3-blue w3-border" (click)="showAddress = !showAddress;"><b>Address</b></button>
        <div class="w3-section" *ngIf="showAddress">
          <label><b>Addressline 1</b></label>
          <input class="w3-input w3-border" type="text" name="Adressline 1" required [(ngModel)]="newContact.Info.InvoiceAddress.AddressLine1">
          <label><b>Addressline 2</b></label>
          <input class="w3-input w3-border" type="text" name="Adressline 2" required [(ngModel)]="newContact.Info.InvoiceAddress.AddressLine2">
          <label><b>Addressline 3</b></label>
          <input class="w3-input w3-border" type="text" name="Adressline 3" required [(ngModel)]="newContact.Info.InvoiceAddress.AddressLine3">
          <label><b>Postalcode</b></label>
          <input class="w3-input w3-border" type="text" name="Postalcode" required [(ngModel)]="newContact.Info.InvoiceAddress.PostalCode">
          <label><b>City</b></label>
          <input class="w3-input w3-border" type="text" name="City" required [(ngModel)]="newContact.Info.InvoiceAddress.City">
          <label><b>Country</b></label>
          <input class="w3-input w3-border" type="text" name="Country" required [(ngModel)]="newContact.Info.InvoiceAddress.Country">
          <label><b>Country code</b></label>
          <input class="w3-input w3-border" type="text" name="Country Code" required [(ngModel)]="newContact.Info.InvoiceAddress.CountryCode">
          <label><b>Region</b></label>
          <input class="w3-input w3-border" type="text" name="Region" required [(ngModel)]="newContact.Info.InvoiceAddress.Region">
        </div>
        <label><b>Comment</b></label>
        <input class="w3-input w3-border" type="text" name="Comment" required [(ngModel)]="newContact.Comment">
      </div>
    </form>

    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
      <button (click)="ToggleModal();" type="button" class="w3-button w3-red">Cancel</button>
      <button (click)="addOrUpdate()" class="w3-button w3-green" style="float: right" type="submit">Save</button>
    </div>

  </div>